ASTROLOGY_PROVIDER=Prokerala
PROKERALA_CLIENT_ID=
PROKERALA_CLIENT_SECRET=
PROKERALA_CLIENT_TYPE=Web Application
PROKERALA_API_BASE_URL=https://api.prokerala.com/v2
PROKERALA_TOKEN_URL=https://api.prokerala.com/token
PROKERALA_AYANAMSA=1
